@{
    Layout = "_Layout";
}


        <section class="search-bar">
          <form >
          <input type="text" placeholder="buscar libro">
          <button type="submit"><i class="fa fa-search"></i></button>
         </form>
        </section>
        <section class="movies">

           <div class="movie-card"onclick="window.location.href='/movie-detail.html'" >
            <div class="movie-image">
            <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>La Catedral</h4>
                <h4>Programacion, Develop</h4>
                <h4>Mario Vargas Llosa </h4>
            </div>
           </div>

           <div class="movie-card" >
            <div class="movie-image">
            <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>La Programacion Final</h4>
                <h4>Devops</h4>
                <h4>Garcia Marquez </h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
            <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>Curso de C#</h4>
                <h4>Programacion Basica-Avanzada</h4>
                <h4>Vaxi Drez</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">>
            </div>
            <div class="movie-info">
                <h4>Curso de Java</h4>
                <h4>Programacion Desktop</h4>
                <h4>Nestor Arcila</h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>Fundamentos de Algoritmos</h4>
                <h4>Fundamentos</h4>
                <h4>Yojanes </h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>Pascal</h4>
                <h4>Fundamentos</h4>
                <h4>Roberto Cabanas </h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>Oracle Database</h4>
                <h4>Database</h4>
                <h4>Juan Sanchez </h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>MySql Database</h4>
                <h4>Database</h4>
                <h4>Rolando Brena</h4> 
            </div>
           </div>



           <div class="movie-card" >
            <div class="movie-image">
                <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>Functions Azure</h4>
                <h4>Programacion</h4>
                <h4>Nestor Arcila </h4>
            </div>
           </div>


           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>AWS Programacion</h4>
                <h4>Programacion</h4>
                <h4>Maria Angeles </h4>
            </div>
           </div>

           <div class="movie-card" >
            <div class="movie-image">
              <img src="https://picsum.photos/id/24/200/300">
            </div>
            <div class="movie-info">
                <h4>Postgresql Database</h4>
                <h4>Database</h4>
                <h4>Bea Rodriguez </h4>
            </div>
           </div>
        </section>

        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
   